body{
  font-size: 18px;
}

.header {
  z-index: 3;
  position: relative;
  height: 4.5rem
}

.header nav button {
  display: none;
}

.close-btn {
  position: absolute;
  top: 15rem;
  right: 5rem;
}

@media only screen and (min-width: 768px) {
    .header nav button {
      display: block;
      margin-left: 0 !important;
    }
}

@media only screen and (min-width: 930px) {
    .header nav button {
      margin-left: 10rem !important;
    }
}

@media only screen and (min-width: 1300px) {
    .header nav button {
      margin-left: 20rem !important;
    }
}

@media only screen and (min-width: 1550px) {
    .header nav button {
      margin-left: 30rem !important;
    }
}

.hero {
  background-image: url('/../images/bg-intro-desktop.svg');
  min-height: 35rem;
}

.pop-out {
  position: absolute;
  z-index: 2;
  top: -6.3125rem;
  left: 65rem;
  height: 47rem;
}